@()

@main("Welcome to Play") {
    <a href="/login">Login page</a><br>
    <a href="/signup">Signup page</a><br>
    <button id="userInfo">UserInfo</button>
    <button id="logout">Logout</button><br>
    <script>
        $(function(){
            $("#logout").click(function() {
                postJSON("/logout", {}, function(json){
                    console.log("Response: ");
                    console.log(json);
                });
                return false;
            });
            $("#userInfo").click(function() {
                $.ajax({
                    type: "GET",
                    url: "/user",
                    success: function(json){
                        console.log("Response: ");
                        console.log(json);
                    }
                });
                return false;
            })
        })
    </script>
}
