@()

@main("Login page") {
    <form action="/login" method="post">
        <input type="text" name="login" id="login" placeholder="Login" autocomplete="on" autofocus><br>
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="off"><br>
        <input type="submit" id="submit" name="pass" value="Submit"><br>
    </form>
    <a href="/">Home</a>
    <script>
        $(function(){
            $("#submit").click(function() {
                postJSON("/login", {
                    "login": $("#login").val(),
                    "password": $("#password").val()
                }, function(json){
                    console.log("Response: ");
                    console.log(json);
                });
                return false;
            })
        })
    </script>
}
