@()

@main("Signup page") {
    <form action="/signup" method="post">
        <input type="text" name="login" id="login" placeholder="Login" autocomplete="off" autofocus><br>
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="off"><br>
        <input type="submit" id="submit" name="submit" value="Submit">
    </form>
    <a href="/">Home</a>
    <script>
            $(function(){
                $("#submit").click(function() {
                    postJSON("/signup", {
                        "login": $("#login").val(),
                        "password": $("#password").val()
                    }, function(json){
                        console.log("Response: ");
                        console.log(json);
                    });
                    return false;
                })
            })
    </script>
}
